
<div class="sidebar">
    <h3>SideBar</h3>
    <ul>
        <li><a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a></li>
        <li><a [routerLink]="['documento']" routerLinkActive="active">Documento</a></li>
        <li><a [routerLink]="['contacto']" routerLinkActive="active">Contacto</a></li>
        <li><a [routerLink]="['nosotros']" routerLinkActive="active">Nosotros</a></li>
        <li><a [routerLink]="['redes']" routerLinkActive="active">Redes</a></li>
 

    </ul>
</div>
